
cmd2*
cmd/old*
cmd/terraform.tfvars
**/creds.json
**/credentials.json
**/.DS_Store
tools/installfile/output.txt
test_files/regions_*
tools/testprojects/email-notifier/cmd/config.json
tools/testprojects/email-notifier/config.json
cmd/contact.yaml
terraform.tfvars
